.sidebar {
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    border-left: 1px solid #ddd;
    height: calc(100vh - 70px);
    position: sticky;
    top: 70px;
    overflow-y: auto;
}

.sidebar-content {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    min-width: 300px;
    margin-left: -20px;
    overflow-x: auto;
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar th, .sidebar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.sidebar th {
    background-color: #f2f2f2;
}
